body {
	background-color: #E7E6E1;
	font-family: 'Lato';
}

h1 {
	padding-top: 20px;
	padding-left: 10%;
}

h4 {
	padding-left: 10%;
}

#title, #title:hover {
	color: inherit;
}

#title:hover {
	cursor: pointer;
	text-decoration: underline;
}

.input-group {
	padding: 30px 65% 30px 15%;
}

.btn, .btn:hover {
	background-color: #537791;
}

.tweet {
	text-align: center;
	margin: 30px 15%;
	font-weight: 200%;
	background-color: #537791;
	border-radius: 5px;
}

.card-header, .username {
	text-align: left;
	color: white;
}

.username:hover {
	cursor: pointer;
	text-decoration: underline;
	color: #E7E6E1;
}

.timeago {
	float: right;
}

.card-body {
	background-color: #C1C0B9;
	font-size: 150%;
	text-align: left;
	padding-left: 10%;
}
